<h1>Sales Stuff</h1>

<h2>Top Sellers</h2>
<p>
  <%= live_render(@conn, LiveViewStudioWeb.SalesDashboardLive) %>
</p>

<h2>Recent Orders</h2>
<p>
  <%= live_render(@conn, LiveViewStudioWeb.SalesDashboardLive) %>
</p>

<p>
  <%= live_render(@conn, LiveViewStudioWeb.LicenseLive) %>
</p>
